<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join ...</h2>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://embeds.beehiiv.com/817462d1-1d03-4cae-8d3e-24853e98516c" data-test-id="beehiiv-embed" width="100%" height="320" frameborder="0" scrolling="no" style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;"></iframe>
            </div>
        </div>
    </div>
</section>
