<!-- Services Section -->
    <section id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The project</h2>
                    <h3 class="section-subheading text-muted">ASTROmakes is a new business focused on the design and manufacturing of specialized DIY astronomy and astrophotography gear kits</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-am-telescope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Shared passion</h4>
                    <p class="text-muted">Created by astronomers for astronomers</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-screwdriver-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easy</h4>
                    <p class="text-muted">Kits are desgined with simplicity in mind, no special abilities like soldering are required</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-piggy-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Affordable</h4>
                    <p class="text-muted">Designs are carefully thought out and engineered for assuring functionality and longetivity at the lowest costs</p>
                </div>
            </div>
        </div>
    </section>