<!-- About Section -->
    <section id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Roadmap</h2>
                    <h3 class="section-subheading text-muted">In the quest of building a strong client relatioship, one of the main values that I would like to push forward with ASTROmakes is transparency. To this end I would like to share a small resume of the steps that </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter 2024</h4>
                                    <h4 class="subheading">The idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Completion of a couple of personal makes for improving my astrophotography setup. They turned out so great that I had to have this discussion with wife about the possibility of making them actual products. ASTROmakes was born.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Spring 2024</h4>
                                    <h4 class="subheading">Legal aspects and initial investments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chat with my accountant about the project, the legal aspects and the required investments for the development of the brand. Initial investment consisted on a CNC machine for aluminum and carbon fiber machining, one big format 3D printer as well as some BambuLab machines as to provide the best quality and results. Electronics test and measurement equipment was also added to the list. ASTROmakes now owns a small but very capable electronics lab</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2024</h4>
                                    <h4 class="subheading">The workshop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It quickly became an evidence that I would need some extra room for developing the business under proper conditions. During the summer I have been making room and renovating the basement for building the workshop of my dreams.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autum 2024</h4>
                                    <h4 class="subheading">Revising</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Even though the intitial designs were functional and well built, at ASTROmakes </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2025</h4>
                                    <h4 class="subheading">Launch time!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It's not yet clear at </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of the
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>